<div class="page-header">
  <%= link_to new_invoice_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Invoice
  <% end %>
  <h1>Listing invoices</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Tennant</th>
            <th>Property</th>
            <th>Amount paid</th>
            <th>Price</th>
            <th>Status</th>
            <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @invoices.each do |invoice| %>
          <tr class="<%= invoice.row_class %>">
            <td><%= invoice.tennant.name %></td>
            <td><%= invoice.property.name %></td>
            <td><%= number_to_currency invoice.amount_paid %></td>
            <td><%= number_to_currency invoice.price %></td>
            <td><%= invoice.status_text %></td>
            <td>
              <%= link_to 'Show', invoice %><br />
              <%= link_to 'Edit', edit_invoice_path(invoice) %><br />
              <%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
