<div class="page-header">
  <%= link_to invoices_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_invoice_path(@invoice), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show invoice</h1>
</div>

<dl class="dl-horizontal">
  <dt>Price:</dt>
  <dd><%= number_to_currency @invoice.price %></dd>

  <dt>Tennant:</dt>
  <dd><%= @invoice.tennant.name %></dd>

  <dt>Property:</dt>
  <dd><%= @invoice.property.name %></dd>

  <dt>Amount paid:</dt>
  <dd><%= number_to_currency @invoice.amount_paid %></dd>

  <dt>Status:</dt>
  <dd><%= @invoice.status_text %></dd>

</dl>
