<div class="page-header">
  <%= link_to new_company_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Company
  <% end %>
  <h1>Companies</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Logo</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @companies) do |company| %>
        <td><%= company.name %></td>
        <td><%= image_tag company.logo.url(:thumb) %></td>
        <td><%= company.address %></td>
        <td><%= company.city %></td>
        <td><%= company.country %></td>
        <td>
          <%= link_to 'Show', company %><br />
          <%= link_to 'Edit', edit_company_path(company) %><br />
          <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
